:root {
   --albumArt: url("../img/defaultArt.png");
   --media-footer: 8rem;
   --sr-pink: hsla(322deg, 100%, 65%, 1);
}

html {
   height: 100dvh;
   scroll-behavior: smooth;
}

body {
   padding: 0;
   margin: 0;
   font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
   background: var(--albumArt) no-repeat center center fixed;
   background-size: cover;
   min-height: 100dvh;
   min-height: -webkit-fill-available;
   font-size: clamp(16px, 15.296px + 0.188vw, 18px);
   overflow:hidden;

   &:has(#albumArt[src=""]), &:has(#albumArt[src="undefined"]) {
      background-image: var(--stationArt);
   }
}

/* Theme sombre ou clair */
@media (prefers-color-scheme:dark) {
   body {
      backdrop-filter: blur(1.5em) contrast(50%) brightness(80%);
      --sr-lightness: 35%;
      --sr-saturation: 0;
      --sidebar-bg: hsla(0deg,0%,0%,.35);
      --sidebar-headers: hsla(0deg,0%,0%,.85);
      --sidebar-gradient: linear-gradient(90deg,hsla(243.2deg, 75.8%, var(--sr-lightness), 1) 39%, hsla(287.6deg, 88.5%, var(--sr-lightness), 1) 90%);
      --btn-border-color: hsla(0deg,0%,0%,.75) !important;
      --play-button: hsla(287.6deg, 88.5%, var(--sr-lightness), .4);
      --play-button-border: hsla(287.6deg, 88.5%, calc(var(--sr-lightness) - 10%), .85);
      --spinner-bg: hsla(243.2deg, 75.8%, var(--sr-lightness), .85);
      --spinner-border: hsla(243.2deg, 75.8%, calc(var(--sr-lightness) - 10%), .85);
      --sr-metadata: 0, var(--sr-saturation), 0;
   }

}

@media (prefers-color-scheme:light) {
   body {
      backdrop-filter: blur(2rem) contrast(25%) brightness(140%);
      --sr-lightness: 75%;
      --sr-opacity: 75%;
      --sr-saturation: 100%;
      --sidebar-bg: rgba(255,255,255,.35);
      --bs-body-color: hsla(50deg,15%,15%,1) !important;
      --bs-heading-color: hsla(50deg,15%,15%,1) !important;
      --sidebar-headers: rgba(255,255,255,.65);
      --sidebar-gradient: linear-gradient(90deg, rgba(255,255,255,0) 0%, hsla(188deg, 68%, var(--sr-lightness),1) 0%, hsla(303.4, 79.5%, var(--sr-lightness),1) 100%);
      --btn-border-color: hsla(200deg,15%,var(--sr-lightness),1) !important;
      --play-button: hsla(189, 69%, var(--sr-lightness), .85);
      --play-button-border: hsla(189, 69%, calc(var(--sr-lightness) - 10%), .85);
      --spinner-bg: hsla(303.4, 79.5%, var(--sr-lightness), .85);
      --spinner-border: hsla(303.4, 79.5%, calc(var(--sr-lightness) - 10%), .85);
      --sr-metadata: 0, var(--sr-saturation), 100%;
   }
}






/* Animation transition */
.animated {
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
}

@keyframes fadeIn {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

.fadeIn {
   -webkit-backface-visibility: visible !important;
   -webkit-animation-name: fadeIn;
   backface-visibility: visible !important;
   animation-name: fadeIn;
}

#mainWrapper {
   margin-top: 3rem;
   position: relative;
   min-height: calc(100dvh - 3rem);

   &:after {
      content: '';
      height: 4rem;
      background: hsla(0, 0%, 0%, .3);
      position: fixed;
      bottom: 0;
      left: -10%;
      right: 0;
      z-index: -1;
   }
}

.mobile-swipe {
   display: contents;
}


@media screen and (min-width:640px) {

   .off-canvas {
     position: fixed;
     top: 0;
     bottom: 0;
     transition: transform 0.3s ease-out, width 0.3s ease-out 0.3s;
   }

   .off-canvas-left {
     left: 0;
     transform: translateX(-100%);
   }

   .off-canvas-right {
     right: 0;
     transform: translateX(100%);
   }

   .off-canvas.show {
     transform: translateX(0);
   }

   #panel2.grow {
      transform:  none;
      width: auto;
   }

}


@media only screen and (max-height:450px) and (max-width:950px) and (orientation:landscape) {

.mobile-swipe {

   .col {
      flex: 3 0 auto;
      .panels {
         display:block;
      }
   }

   .off-canvas-left.show {
     left: 0;
     transform: translateX(-110%);
   }

   .off-canvas-right.show {
     right: 0;
     transform: translateX(-100%);
   }

   #panel2 {
      transform:  translateX(-100%);
      width: 100vw;
      flex: stretch !important;

   }

   #playermeta .col {
      flex: min-content;
   }

   #webamp {
      top:.05rem;
      max-width: 275px;
      max-height: 275px;
   }
}

}





#togglePanels {
   position: absolute;
   top: 0;
   right: 0;
   border-radius: 0;
   max-height: 4rem;
   background: var(--sidebar-bg);
   border-width: 0 1px;
   border-color: var(--btn-border-color);
   color: var(--bs-body-color);

   i {
      font-size: 2.5rem;
   }
}

.panels {
   padding:0;
   display: inline-block;
}

#panel2 {
   transition: all .3s ease-in-out;
   position: relative;

   &.grow {
      transform: translateX(-20%);
      width: 100%;
   }


}

.project-info {
   height: calc(100dvh - 4rem);
   position: relative;
   overflow-y: scroll;
   scrollbar-color: rgba(255,255,255,.3) rgba(0,0,0,0);
   scrollbar-width: thin;
   opacity: 1;
   left:-1rem;
   transition: all 0.3s ease-in-out;

   &.off-canvas.show {
      position:relative;
   }


   a:not(.iconLink) {
     text-decoration: none;
     color: var(--bs-body-color);
     font-weight: 700;
     position: relative;
     z-index: 1;

     &::before {
        content: '';
        background-color: var(--sr-pink);
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        height: 2px;
        z-index: -1;
        transition: all .3s ease-in-out;
      }

      &:hover::before {
        bottom: 0;
        height: 100%;
      }
   }

   .iconLink  {
      position: relative;
      font-size: 2rem;
      color: var(--bs-body-color);
      text-decoration:none;
      padding-left: .5rem;

      &:hover {
         color: var(--sr-pink);
      }
   }

  #lastfm-auth {background:hsl(0 93.4% 52.4%); border:0; padding: .75rem; margin-bottom: 1rem; color:#fff;
      &:hover {background: hsl(0 93.4% 40%);
      }
   }
}

.accordion {
   .accordion-item {
      background: transparent;
      margin-top: .5rem;
      border: 0;

      .accordion-header button {
         background: var(--sidebar-bg);

         border-radius: 0 .5rem .5rem 0;
         color: var(--bs-body-color);
         transition: all .3s ease-in-out;
         padding-right: 2rem;

         &[aria-expanded="true"] {
            background: var(--sidebar-gradient);
            border-radius: 0 .5rem 0 0;
         }

         &:after {
            content: "\e912";
            font-family: "iconfont";
            background-image: none !important;
            position: absolute;
            top: 1rem;;
            right: .5rem;
            color: var( --bs-body-color);
         }
      }

      .accordion-body {
         background: var(--sidebar-bg);
      }
   }
  }




#player {
   position: relative;
   height: 100dvh;

   button#playButton {
      transition: all 250ms ease-in-out;

      &:has(.icon-pause) {
         background-color: var(--play-button);
         border-color: var(--play-button-border);

         &:hover,
         &:focus {
            background: var(--play-button-border);
         }

      }

      &:has(.spinner-grow) {
         background: var(--spinner-bg);
         border-color: var(--spinner-border);

         i {
            color: var(--bs-body-color) !important;
         }
      }

   }



   & p::before,
   & a::before {
      display: inline-block;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      margin-right: .5rem;
      font-size: 1rem !important;
      opacity: .7;
      font-weight: 200 !important;
   }

   & p:empty::before,
   & a:empty::before {
      opacity: 0;
   }

   .metainfo p {
      overflow: hidden;
      width: 100%;
      display: block;
      margin-bottom: .5rem;
      font-size: clamp(16px, 15.231px + 0.192vw, 18px);

      &.h3 {
         font-size: clamp(22px, 15.662px + 1.69vw, 40px);
      }

      &.h4 {
         font-size: clamp(16px, 11.07px + 1.315vw, 30px);
      }

   }

   #playermeta.errorMessage {
      p::before {
         opacity:0;
      }
   }

   #title {
      &::before {
         font-family: 'iconfont';
         content: '\e904';
      }

   }

   #artist {
      &::before {
         font-family: 'iconfont';
         content: '\e90b';
      }

   }

   #album {
      height: auto;
      transition: height 250ms ease-in-out;

      &::before {
         font-family: 'iconfont';
         content: '\e90c';
      }

      &:empty {
         height: 0;
      }

   }

   #listeners {
      border: 1px dashed hsla(255, 255%, 255%, .25);
      border-width: 1px 0;
      margin: 0 0 .5rem;
      padding: .5rem 0;

      &:empty {
         border-color: transparent;

         &:before {
            content: '';
            height: 0;
         }

      }

      &::before {
         font-family: 'iconfont';
         content: '\e90a';
      }

   }

   #radioNameLink {
      background: transparent;
      border: 0;
      display: block;
      color: rgb(225, 225, 225);

      &[href]:empty {
         background-color: transparent;
         border-color: transparent;
      }

      & span {
         display: inline; opacity: 1; transition: all 250ms ease-in-out;

         &::before {
            font-family: 'iconfont';
            font-weight: 100;
            margin:0 .5rem 0 1rem;
            opacity: .6;
         }

         &#radioName:before {
            content: '\e90d';
         }

         &#stationLocation:before {
            content: '\e903';
         }

         &:empty {
            opacity: 0;
         }

      }

   }

   time {display:none;}

   .media-controls-wrapper {
      width: 100%;
      position: absolute;
      bottom: 0;
      left:0;
      left:0;
      background: var(--sidebar-headers);
      padding-bottom: env(safe-area-inset-bottom, 0);

      .media-controls {
         display: flex;
         padding: 0 !important;
         height: 4rem;
         max-width: 1000px;
         margin: 0 auto;


         button {
            flex-grow: 1;
            max-height: 4rem;
            margin: 0 !important;
            border-radius: 0;
            font-size: 1.75rem;
            background: var(--sidebar-bg);
            color: var(--bs-body-color);
            border-color: var(--btn-border-color);
            border-width: 0 1px;
            border-collapse: collapse;
         }

      }

   }

}

#webamp {
   position: relative;
   top: -2rem;
   transition: all .3s ease-in;
   max-height: clamp(320px, 240px + 25vw, 600px);
   max-width: clamp(320px, 240px + 25vw, 600px);
   overflow: hidden;
   background: var(--albumArt) no-repeat 0 0;
   background-size: cover;
   border: .5rem solid #111;
   height:100%;
   width:100%;
   aspect-ratio: 1 / 1;

   &:has(#albumArt[src=""]), &:has(#albumArt[src="undefined"]) {
      background: var(--stationArt) no-repeat 0 0;
      background-size: cover;
   }

   #albumArt {
      transition: all 250ms ease-in-out;
      max-width: clamp(320px, 240px + 25vw, 600px);
      max-height:clamp(320px, 240px + 25vw, 600px);
      width: 100%;
      height:100%;
      opacity: 1;
      aspect-ratio: 1 / 1;

      &[src=""] {
         opacity:0;
      }
   }
}

#metadata {
   height: calc(100dvh - 4rem);
   display: flex;

   .playermeta {
      align-items: center;
      justify-content: space-around;
      align-content: center;
      text-align: center;
      display: flex;
      height: calc(100dvh - 4rem);
      max-width: 1400px;
      margin: 0 auto;
   }

}

#mytuner-container {opacity: 0;}

.metainfo {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   >* {
      min-height: 1.5rem;
   }

   h4#title {
      font-weight: bold;
   }

   p, span {
      color: var(--bs-body-color);
   }


}

h3.sidebar-text {
   position: sticky;
   top: 0;
   background: var(--sidebar-headers);
   display: block; 
   width:auto;
   padding: .5rem;
   z-index: 100;
   margin-bottom:0;
   color: var(--bs-body-color);


   & + #accordionFilters {
      position: absolute; 
      width: 100%;
      top: 2rem;

      .accordion-collapse {
         position: absolute;
         width: 100%;
         z-index: 10;
         top: 3.65rem;
         background: rgba(0,0,0,.9)

      }
   }
}

nav.stationNav {
   height: calc(100dvh - 7rem);
   position: relative;
   left: 0;
   padding: 0;

   .loader {
      width:100%;
      text-align: center;
      vertical-align: middle;
      height: 70dvh;
      line-height: 70dvh;

      .spinner-grow {
         height:5rem;
         width: 5rem;
      }
   }

   a {
      text-decoration: none;
   }

   .sidebar-text {margin-bottom: 3.2rem;}

   #stationSelect {
      overflow-y: scroll;
      height: calc(100dvh - 9.75rem); 
      padding-bottom: .5rem;
      scrollbar-color: rgba(255,255,255,.3) rgba(0,0,0,0);
      scrollbar-width: thin;
   
   button {
      padding: 0 .5rem 0 0;
      font-size: clamp(0.9rem, 0.796rem + 0.522vw, 1.2rem);
      transition: all 250ms ease-in-out;
      color: var(--bs-body-color);
      display: block;
      width: 100%;
      height: auto;
      min-height: 45px;
      background: var(--sidebar-bg);
      border-radius: .5rem 0 0 .5rem;
      margin:.5rem 0 0;
      border:0;
      text-align:left;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      &:has(input:checked) {
         background: rgb(36, 27, 196);
         background: var(--sidebar-gradient);
         font-weight: 700;
         font-size: clamp(1.2rem, 1.13rem + 0.348vw, 1.4rem);
         min-height:60px;

         img {width: 60px; height:60px;}
      }

      input[type="radio"] {
         display: none;
      }

      img {border-radius: .5rem 0 0 .5rem; margin-right: 1rem; transition: all 250ms ease-in-out;}
   }
}
}

input[type="checkbox"]:checked~nav.stationNav {
   transform: translateX(0);
   z-index: 40;
}

input[type="checkbox"] {
   box-sizing: border-box;
   display: none;
   transition: all 0.25s;
}

input[type="checkbox"]:checked~.menuIconToggle {
   &>.hor {
      box-sizing: border-box;
      opacity: 0;
      transition: all 0.25s;
   }

   &>.dia.part-1 {
      box-sizing: border-box;
      transform: rotate(135deg);
      margin-top: 8px;
      transition: all 0.25s;
   }

   &>.dia.part-2 {
      box-sizing: border-box;
      transform: rotate(-135deg);
      margin-top: -9px;
      transition: all 0.25s;
   }

}

@media screen and (max-width:640px) {

   #togglePanels {display:none;}

   nav.stationNav {
      --stationWidth: 75vw;
   }

   #metadata { 
      display:block;

      .album-controls {
         align-items: unset;
         align-content: unset;
      }
   }

   #webamp {
      top: 0;
      height: fit-content;
      overflow: revert;
      width: 100vw;
      min-width:400px;
      border:0;
      mask-image: -webkit-gradient(linear, left top, left bottom, 
      color-stop(0.00,  rgba(0,0,0,1)),
      color-stop(0.8,  rgba(0,0,0,.9)),
      color-stop(1.00,  rgba(0,0,0,0)));

      #albumArt {
         opacity:0;
         max-width: 100vw;
         mask-image: -webkit-gradient(linear, left top, left bottom, 
      color-stop(0.00,  rgba(0,0,0,1)),
      color-stop(0.8,  rgba(0,0,0,.9)),
      color-stop(1.00,  rgba(0,0,0,0)));
      }

   }

   .mobile-swipe {
     display: grid;
     grid-template-columns: repeat(3, 100%);
     will-change: transform;
     align-content: center;
     overflow-x: auto;
     scroll-snap-coordinate: 0 0;
     scroll-snap-points-x: repeat(100%);
     scroll-snap-type: x mandatory;
     -webkit-overflow-scrolling: touch;

     & > .panels {
      scroll-snap-align: start;
     }
   }

   .project-info {
      padding:0;
      left:0;
   }

   .metainfo {
      justify-content: stretch;
      padding: 0 !important;
      position: absolute;
      bottom:3rem;
      margin-bottom: 1rem;
      align-self: safe;
      width: 100vw;
      min-width:400px;

      p {
         max-width: 85vw;
         align-content: end;
      }

      a#radioNameLink {
         border-radius: 0;
         width: 100%;
         display: block;
         margin-bottom: 0 !important;
         padding: 0;
         background: transparent;
         font-weight: 400;
      }

      span#radioName {
         border-radius: 0;
         width: 100%;
         display: block;
         margin-bottom: 0 !important;
         padding: 0;
         font-weight: 400;
      }

      span#stationLocation {
         display: block;
         width: 100%;
         margin-bottom: 0;
      }

   }


}

@media screen and (max-width:375px) and (max-height:675px) {
   #webamp #albumArt {
      position:absolute;
      top: -2rem;
   }

   .metainfo {
      position: absolute;
      bottom: 3rem;
      margin-bottom: 1rem;
      padding: .5rem !important;
      background: hsla(var(--sr-metadata), var(--sr-lightness));

      &:before {
         content: "";
         width: 100%;
         height: 2rem;
         background-image: linear-gradient(hsla(var(--sr-metadata), 0), hsla(var(--sr-metadata), var(--sr-lightness)));
         position: absolute;
         top: -2rem;
      }
   }
}


.fullscreen-mode {
    padding-bottom: env(safe-area-inset-bottom, 1rem); /* Adds space at the bottom for home indicator */

  .nav.stationNav #stationSelect {
   padding-bottom: 2.5rem;
  }

  .metainfo {
   bottom: 3rem;
  }
}





