:root {
   --albumArt: url("../img/defaultArt.png");
   --media-footer: 8rem;
}

html {
   height: 100dvh;
   scroll-behavior: smooth;
}

body {
   padding: 0;
   margin: 0;
   font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
   background: var(--albumArt) no-repeat center center fixed;
   background-size: cover;
   min-height: 100dvh;
   min-height: -webkit-fill-available;
   font-size: clamp(16px, 15.296px + 0.188vw, 18px);
}

/* Theme sombre ou clair */
@media (prefers-color-scheme:dark) {
   body {
      backdrop-filter: blur(2rem) contrast(30%) brightness(90%);
      -webkit-backdrop-filter: blur(2rem) contrast(30%) brightness(90%);
   }

}

@media (prefers-color-scheme:light) {
   body {
      backdrop-filter: blur(2rem) contrast(30%) brightness(170%);
      -webkit-backdrop-filter: blur(2rem) contrast(30%) brightness(170%);
   }

}

/* Animation transition */
.animated {
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
}

@keyframes fadeIn {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

.fadeIn {
   -webkit-backface-visibility: visible !important;
   -webkit-animation-name: fadeIn;
   backface-visibility: visible !important;
   animation-name: fadeIn;
}

#mainWrapper {
   margin-top: 3rem;
   position: relative;
   min-height: calc(100dvh - 3rem);

   &:after {
      content: '';
      height: 4rem;
      background: hsla(0, 0%, 0%, .3);
      position: fixed;
      bottom: 0;
      left: -10%;
      right: 0;
      z-index: -1;
   }

}

.panels {padding:0;}

.project-info {
   height: calc(100dvh - 4rem);
   position: relative;
   overflow-y: scroll;
  scrollbar-color: rgba(255,255,255,.3) rgba(0,0,0,0);
  scrollbar-width: thin;

   a:not(.gitLink) {
     text-decoration: none;
     color: #fff;
     font-weight: 700;
     position: relative;
     z-index: 1;

     &::before {
        content: '';
        background-color: hsla(322deg 100% 65%);
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        height: 2px;
        z-index: -1;
        transition: all .3s ease-in-out;
      }

      &:hover::before {
        bottom: 0;
        height: 100%;
      }
   }

   .gitLink  {
      position: relative;
      font-size: 2rem;
      color: #fff;
      text-decoration:none;

      &:hover {
         color: #eee;
      }
   }

  .accordion {
   .accordion-item {
      background: transparent;
      margin-top: .5rem;
      border: 0;

      .accordion-header button {
         background:rgba(0,0,0,0.15);
         border-radius: 0 .5rem .5rem 0;
         color: #fff;
         transition: all .3s ease-in-out;
         padding-right: 2rem;

         &[aria-expanded="true"] {
            background: linear-gradient(90deg,rgb(146,11,181) 39%, rgb(36,27,196) 90%);
            border-radius: 0 .5rem 0 0;
         }

         &:after {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
            position: absolute;
            top: 1rem;;
            right: .5rem;
         }
      }

      .accordion-body {
         background: rgba(0,0,0,.5);
      }
   }
  }
}

#player {
   position: relative;
   height: 100dvh;

   button#playButton {
      transition: all 250ms ease-in-out;

      &:has(.icon-pause) {
         background: hsla(188, 71%, 34%, .85);
         border-color: hsla(189, 69%, 26%, .85);

         &:hover,
         &:focus {
            background: hsla(189, 69%, 26%, .85);
         }

      }

      &:has(.spinner-grow) {
         background: hsla(243, 69%, 36%, .85);
         border-color: hsla(243, 69%, 22%, .85);
      }

   }

   & p::before,
   & a::before {
      display: inline-block;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      margin-right: .5rem;
      font-size: 1rem !important;
      opacity: .7;
      font-weight: 200 !important;
   }

   & p:empty::before,
   & a:empty::before {
      opacity: 0;
   }

   .metainfo p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      width: 100%;
      display: block;
      margin-bottom: .5rem;
      font-size: clamp(16px, 15.231px + 0.192vw, 18px);

      &.h3 {
         font-size: clamp(22px, 15.662px + 1.69vw, 40px);
      }

      &.h4 {
         font-size: clamp(16px, 11.07px + 1.315vw, 30px);
      }

   }

   #title {
      &::before {
         font-family: 'iconfont';
         content: '\e904';
      }

   }

   #artist {
      &::before {
         font-family: 'iconfont';
         content: '\e90b';
      }

   }

   #album {
      height: auto;
      transition: height 250ms ease-in-out;

      &::before {
         font-family: 'iconfont';
         content: '\e90c';
      }

      &:empty {
         height: 0;
      }

   }

   #listeners {
      border: 1px dashed hsla(255, 255%, 255%, .25);
      border-width: 1px 0;
      margin: 0 0 .5rem;
      padding: .5rem 0;

      &:empty {
         border-color: transparent;

         &:before {
            content: '';
            height: 0;
         }

      }

      &::before {
         font-family: 'iconfont';
         content: '\e90a';
      }

   }

   #radioNameLink {
      background: transparent;
      border: 0;
      display: block;
      color: rgb(225, 225, 225);

      &[href]:empty {
         background-color: transparent;
         border-color: transparent;
      }

      & span {
         display: inline; opacity: 1; transition: all 250ms ease-in-out;

         &::before {
            font-family: 'iconfont';
            font-weight: 100;
            margin:0 .5rem 0 1rem;
            opacity: .6;
         }

         &#radioName:before {
            content: '\e90d';
         }

         &#stationLocation:before {
            content: '\e903';
         }

         &:empty {
            opacity: 0;
         }

      }

   }

   .media-controls-wrapper {
      width: 100%;
      position: absolute;
      bottom: 0;
      left:0;
      left:0;
      background: rgba(0,0,0,.3);

      .media-controls {
         display: flex;
         padding: 0 !important;
         height: 4rem;
         max-width: 1000px;
         margin: 0 auto;


         button {
            flex-grow: 1;
            max-height: 4rem;
            margin: 0 !important;
            border-radius: 0;
            font-size: 1.75rem;
         }

      }

   }

}

#webamp {
   position: relative;
   top: -2rem;
}

#metadata {
   height: calc(100dvh - 4rem);

   .album-controls {
      align-items: center;
      justify-content: space-around;
      align-content: center;
      text-align: center;
      display: flex;
      height: calc(100dvh - 4rem);
      margin: 0;
   }

}

.metainfo {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-wrap: balance;

   >* {
      min-height: 1.5rem;
   }

   h4#title {
      font-weight: bold;
   }

}

h3.sidebar-text {
   position: sticky;
   top: 0;
   background: rgba(0,0,0,.85);
   display: block; 
   width:auto;
   padding: .5rem;
   z-index: 100;
   margin-bottom:0;
}

nav.stationNav {
   height: calc(100dvh - 4rem);
   position: relative;
   left: 0;
   padding: 0;

   #stationSelect {
         overflow-y: scroll;
         height: calc(100dvh - 6.5rem); 
         padding-bottom: .5rem;
         scrollbar-color: rgba(255,255,255,.3) rgba(0,0,0,0);
         scrollbar-width: thin;
   }


   a {
      text-decoration: none;
   }

   button {
      padding: .4rem .5rem .4rem 1rem;
      font-size: clamp(17px, 15.592px + 0.376vw, 21px);
      transition: all 250ms ease-in-out;
      color: #fff;
      display: block;
      width: 100%;
            background:rgba(0,0,0,.15);
      border-radius: .5rem 0 0 .5rem;
      margin:.5rem 0 0;
      border:0;
      text-align:left;

      &:has(input:checked) {
         background: rgb(36, 27, 196);
         background: linear-gradient(90deg, rgba(36, 27, 196, 1) 39%, rgba(146, 11, 181, 1) 90%);
         padding: 1rem .5rem 1rem 2rem;
         font-weight: 700;
      }

      input[type="radio"] {
         display: none;
      }

   }

}

input[type="checkbox"]:checked~nav.stationNav {
   transform: translateX(0);
   z-index: 40;
}

input[type="checkbox"] {
   box-sizing: border-box;
   display: none;
   transition: all 0.25s;
}

.menuIconToggle {
   box-sizing: border-box;
   cursor: pointer;
   position: absolute;
   z-index: 40;
   height: 100%;
   width: 3rem;
   top: 0;
   left: 0;
   transition: all 0.3s;
   padding: 1rem .75rem .75rem;

   &:hover,
   &:focus {
      background: rgba(100, 100, 100, .5)
   }

}

.hamb-line {
   box-sizing: border-box;
   position: absolute;
   height: 3px;
   width: 100%;
   background-color: #fff;
   transition: all 0.25s;
}

.hor {
   transition: all 0.3s;
   box-sizing: border-box;
   position: relative;
   float: left;
   margin-top: 3px;
}

.dia.part-1 {
   position: relative;
   box-sizing: border-box;
   float: left;
   transition: all 0.25s;
}

.dia.part-2 {
   box-sizing: border-box;
   position: relative;
   float: left;
   margin-top: 3px;
   transition: all 0.25s;
}

input[type="checkbox"]:checked~.menuIconToggle {
   &>.hor {
      box-sizing: border-box;
      opacity: 0;
      transition: all 0.25s;
   }

   &>.dia.part-1 {
      box-sizing: border-box;
      transform: rotate(135deg);
      margin-top: 8px;
      transition: all 0.25s;
   }

   &>.dia.part-2 {
      box-sizing: border-box;
      transform: rotate(-135deg);
      margin-top: -9px;
      transition: all 0.25s;
   }

}

@media screen and (max-width:640px) {
   nav.stationNav {
      --stationWidth: 75vw;
   }

   #metadata .album-controls {
      align-items: unset;
      align-content: unset;
   }

   #webamp {
      top: 1rem;
      height: fit-content;

      #albumArt {
         max-width: 85vw;
      }

   }

   .mobile-swipe {
     display: grid;
     grid-template-columns: repeat(3, 100%);
     will-change: transform;
     align-content: center;
     overflow-x: auto;
     scroll-snap-coordinate: 0 0;
     scroll-snap-points-x: repeat(100%);
     scroll-snap-type: x mandatory;
     -webkit-overflow-scrolling: touch;

     & > * {
      scroll-snap-align: start;
     }
   }

   .project-info {
      padding:0;
   }

   .metainfo {
      justify-content: stretch;
      padding: 0 !important;
      position: relative;
      margin-bottom: 1rem;
      align-self: end;

      p {
         max-width: 85vw;
         align-content: end;
      }

      a#radioNameLink {
         border-radius: 0;
         width: 100%;
         display: block;
         margin-bottom: 0 !important;
         padding: 0;
         background: transparent;
         font-weight: 400;
      }

      span#radioName {
         border-radius: 0;
         width: 100%;
         display: block;
         margin-bottom: 0 !important;
         padding: 0;
         font-weight: 400;
      }

      span#stationLocation {
         display: block;
         width: 100%;
         margin-bottom: 0;
      }

   }

}

@media screen and (max-width:375px) and (max-height:675px) {
   #webamp #albumArt {
      max-width: 75vw;
   }

   .metainfo p {
      -webkit-line-clamp: 1;
   }

}

@media screen and (max-width:430px) and (max-height:932px) {
   .metainfo p {
      -webkit-line-clamp: 1;
   }

}



